<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238114144251-r6h6p8974ka5ot2380afc6upoecdlcj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238114144251-r6h6p8974ka5ot2380afc6upoecdlcj2</string>
	<key>API_KEY</key>
	<string>AIzaSyApSRkcvxyZlRnHnjiGCR9IX8PbU0xVngU</string>
	<key>GCM_SENDER_ID</key>
	<string>238114144251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freshlyDeliveredApp</string>
	<key>PROJECT_ID</key>
	<string>freshly-delivered-chpb</string>
	<key>STORAGE_BUCKET</key>
	<string>freshly-delivered-chpb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238114144251:ios:476db15120ed835cf8955e</string>
</dict>
</plist>